.wrap {
    // margin-top: 20px;
    color: #000;
}

.content {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 100px;
    // margin-top: calc(-400px - var(--header-height));
    transform: translateY(-1px);
    //  translateY(-1px) is purpos to floor top
    margin-top: -200px;
}

.bannerImgWarp {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: calc(0px - var(--header-height));
    background-size: cover;
    background-position: center center;

    .bannerFilter {
        background: rgba(30, 33, 40, 0.8);
        backdrop-filter: blur(4px);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.bidInput {
    :global {

        .ant-input-number-lg {
            height: 48px !important;
        }

        .ant-input-number-input {
            height: 46px !important;
        }

    }
}

.variableWarp {
    .variableNumber {
        padding: 0 15px;
    }
}

.img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}

:global(.ant-input-number-input) {
    background: rgba(0, 0, 0, 0.4);
}

.priceInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .typeTitle {
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);
    }

    .timeTxt {
        font-family: hasai-500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);
    }

    .price {
        font-family: hasai-700;
        font-size: 30px;
        line-height: 40px;
        color: #FFFFFF;
    }
}

.bidHis {
    font-size: 16px;
    line-height: 20px;
    cursor: not-allowed;
    color: #34AAFF;
    opacity: 0.3;

    span {
        margin-right: 10px;
    }
}

.InfoWarp {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    display: flex;

    img {
        margin-right: 8px;
    }

    .timeTxt {
        color: rgba(255, 255, 255, 0.8);
    }
}

.bottom {
    padding: 24px;
    background: #393D48;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: rgba(100, 113, 141, 0.5);
    border-radius: 0px 0px 16px 16px;
}

.nftInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .name {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
    }

    p {
        font-size: 20px;
        line-height: 18px;
        color: #000;
    }

    p:last-child {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, .6);

        span {
            font-weight: 500;
            color: rgba(0, 0, 0, .8);
        }

        img {
            margin: -1px 9px 0 17px;
            vertical-align: middle;
        }
    }
}

.bidInput {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.input {
    width: 100% !important;
    height: 40px;
    margin-bottom: 24px !important;
    background: transparent !important;
    border-color: #64718D !important;
    color: #fff !important;
    border-radius: 4px !important;

    :global {
        .ant-input-number-handler-wrap {
            display: none !important;
        }
    }

    &::before {
        content: "ETH";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.4);
        font-size: 12px;
    }

    &:focus {
        box-shadow: none;
    }

    :global(.ant-input-suffix) {
        color: rgba(255, 255, 255, 0.4);
    }
}


.btn {
    width: 100%;
    height: 48px;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    backdrop-filter: blur(8px);
    border-radius: 4px;

    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: var(--main-bg);
    cursor: pointer;

    &.disable {
        cursor: not-allowed;
        background: #898989;
        box-shadow: none;
        border: none;
    }
}

.emptyWrap {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1150px) {
    .content {
        width: 55%;
    }
}

@media only screen and (max-width: 700px) {
    .backBtn {
        width: 24px;
        height: 24px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        position: absolute;
        left: 15px;
        top: 10px;
        background-image: url('../../asset/header/addPoolLeftBtn.png');
        background-size: 7px;
        background-position: center center;
        z-index: 4;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 750px) {

    .content {
        width: 75%;
    }


    .bottom {
        .nftInfo {
            margin-bottom: 20px;

            .id {

                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
            }

            .bidHis {
                font-size: 14px;
                line-height: 20px;

                img {
                    width: 16px;
                }
            }
        }
    }

    .priceInfo {
        margin-bottom: 10px !important;

        .typeTitle {
            font-size: 12px;
            line-height: 18px;
        }

        .timeTxt {
            font-size: 14px;
            line-height: 20px;
        }

        .price {

            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media only screen and (max-width: 550px) {

    .content {
        width: 100%;
    }

    .bannerImgWarp {
        display: none;
    }

    .img {
        border-radius: 0;
    }

    .content {
        margin-top: calc(0px - var(--header-height));
    }

    .bottom {
        border-radius: 16px 16px 0px 0px;
        margin-top: -15px;
        padding: 20px;
    }
}
