.modal {
    :global {
        .ant-modal-body {
            padding: 16px;
        }
    }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    img {
        width: 20px;
        margin-right: 5px;
    }
}

.input {
    width: 288px;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(100, 113, 141, 0.5);
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
}

.indexWrap {
    width: 100%;
    padding: 0 10px;
    margin-top: 8px;
    background: var(--main-bg);
    border-radius: 4px;
}

.index {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        margin-right: 8px;
    }

    span {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
    }

    span:last-child {
        color: #FFFFFF;
    }

    &:last-child {
        margin-bottom: 10px;
    }
}

.btn {
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    cursor: pointer;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: var(--main-bg);
    width: 288px;
    height: 40px;
    margin-top: 16px;
    border-radius: 4px;

    &.disabled {
        background: #898989;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
    }
}
