.title {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 24px;
    font-family: hasai-500;
    display: flex;
    align-items: center;

    img {
        width: 12px;
        margin-right: 10px;
        vertical-align: middle;
    }

}

// .modalWap {
//     :global {
//         .ant-modal-header {
//             padding: 16px;
//         }
//     }
// }

.bidList {
    max-height: 700px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
}

.item {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    .user {
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        display: flex;
        margin-bottom: 2px;
    }

    .time {
        font-size: 12px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.6);
    }

    .right {
        font-family: hasai-500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        display: flex;
        align-items: center;

        img {
            margin-left: 26px;
        }
    }
}
