.homePageWarp {
    user-select: none;
    // background-image: url('../../asset/homePage/topbg.png');
    // background-size: 100%;
    position: relative;

    .topbg {
        position: absolute;
        left: 0;
        top: -80px;
        width: 100%;
        height: auto;
    }

    .banner {
        height: 867px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: var(--content-width);
        margin: 0 auto;

        .left {
            font-family: hasai-700;
            font-size: 56px;
            line-height: 72px;
            margin-right: 82px;
        }

        .right {}
    }

    .goDetail {
        width: 84px;
        height: 36px;
        background-image: url('../../asset/homePage/goDetail.png');
        background-size: 100% 100%;
        display: block;
        cursor: pointer;
        position: absolute;
        bottom: 32px;
    }



    .workFlowWarp {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: var(--content-width);
        margin: 0 auto;

        .flowTitle {

            font-family: hasai-700;
            font-size: 64px;
            line-height: 82px;
        }

        .titleList {
            display: flex;
            align-items: center;
            width: 686px;
            justify-content: space-between;
            margin-top: 60px;

            .titleItem {
                font-size: 24px;
                line-height: 31px;
                color: rgba(255, 255, 255, 0.8);
                position: relative;
                height: 51px;
                user-select: none;
                cursor: pointer;

                &.active {
                    &::after {
                        display: block;
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    width: 56px;
                    height: 4px;
                    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                    bottom: 4px;
                    display: none;

                }
            }
        }

        .workFlowContent {
            height: 666px;
            background: linear-gradient(346.76deg, #3D465A 0.74%, #282D39 93.25%);
            box-shadow: -8px -8px 24px rgba(95, 104, 122, 0.25), 8px 8px 24px rgba(20, 22, 28, 0.7);
            border-radius: 16px;
            width: 100%;
            margin-top: 32px;
            margin-bottom: 161px;
            padding: 32px;
            display: flex;
            position: relative;

            img {}


            .flowText {
                padding-left: 32px;

                .flowContentTitle {

                    font-family: hasai-500;
                    font-size: 24px;
                    line-height: 31px;
                    color: #fff;
                    margin-bottom: 32px;
                }

                .flowTextContent {
                    .cont {
                        font-size: 18px;
                        line-height: 27px;
                        color: rgba(255, 255, 255, 0.8);

                        .subsubTitle {

                            font-family: hasai-500;
                            font-size: 20px;
                            line-height: 26px;
                            color: #FFFFFF;
                            margin-bottom: 16px;
                        }

                        .flowTips {
                            margin-top: 20px;
                        }
                    }
                }
            }

        }

        .homePageTabs {
            // :global(.ant-tabs-tab-active .ant-tabs-tab-btn),
            // :global(.ant-tabs-tab:hover) {
            //     background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
            //     -webkit-background-clip: text;
            //     -webkit-text-fill-color: transparent;
            //     background-clip: text;
            //     text-fill-color: transparent;
            //     color: transparent;
            // }

            // :global(.ant-tabs-nav) {
            //     font-size: 24px;
            //     line-height: 31px;
            //     color: rgba(255, 255, 255, 0.8);
            //     // .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            //     //     color: blue;
            //     // }

            //     ::before {
            //         display: none;
            //     }
            // }
        }
    }




}

.marketsWarp {
    background-size: 100%;
    background-image: url('../../asset/homePage/earthBackground.jpg');
    background-size: cover;
    padding-top: 69px;
    padding-bottom: 240px;

    .MarketsTitle {
        font-family: hasai-700;
        font-size: 64px;
        line-height: 82px;
        margin-bottom: 80px;
        text-align: center;
    }

    .marketsList {
        display: flex;
        justify-content: center;
        align-items: center;

        .marketsItem {
            padding: 28px;
            position: relative;

            .jump {
                width: 18px;
                position: absolute;
                right: 31px;
                top: 64px;
                cursor: pointer;
            }

            .goDetail {
                display: none;
            }

            &:hover {
                .goDetail {
                    display: block;
                }

                background-image: url('../../asset/homePage/goDetail.png');
            }

            .icon {
                width: 100px;
                position: absolute;
                left: 28px;
                top: -50px;
            }

            &:nth-child(2) {
                margin: 0 25px;
            }

            .marketTitle {
                margin-top: 76px;
                margin-bottom: 24px;
                font-family: 'hasai-500';
                font-size: 24px;
                line-height: 31px;
                color: #FFFFFF;
            }

            .marketContent {
                font-size: 18px;
                line-height: 27px;
                text-align: justify;
                color: rgba(255, 255, 255, 0.8);
            }

            width: 450px;
            height: 477px;
            background: rgba(37, 41, 50, 0.6);
            border: 1px solid #64708B;
            backdrop-filter: blur(30px);
            border-radius: 16px;

        }
    }
}

.governanceWarp {
    text-align: center;
    padding-bottom: 180px;

    .governanceTitle {
        font-family: hasai-700;
        font-size: 64px;
        line-height: 82px;
        text-align: center;
        margin-bottom: 16px;
    }

    .description {
        font-size: 20px;
        line-height: 26px;
        color: #fff;
        width: 991px;
        text-align: center;
        margin: 0 auto;
    }

    img {
        width: 737px;
        margin-top: 32px;
    }
}
