.wrap {
    color: #000;
    min-height: calc(100vh - var(--footer-height));
}

.top {
    height: 262px;
    width: 100%;
    margin-top: calc(0px - var(--header-height));
    // margin-left: calc(700px - 50vw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: rgba(30, 33, 40, 0.8);
}

.connectWallet {
    width: 200px;
    line-height: 45px;
    height: 45px;
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    border-radius: 4px;
    text-align: center;
    text-align: center;
    display: block;
    color: #252932;
    cursor: pointer;
    user-select: none;
}

.topContent {
    width: var(--content-width);
    margin: 0 auto;
    padding-top: 112px;
    // display: flex;
}

.createdBtn {
    color: #088F57;
    border: 1px solid #088F57;
    border-radius: 4px;
    display: block;
    width: 170px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    float: right;
    margin-top: 10px;
}

.index {
    margin-right: 90px;
    display: inline-block;
    flex-direction: column;

    p {
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
    }

    p:last-child {
        margin-top: 8px;

        font-size: 24px;
        line-height: 31px;
        font-family: hasai-700;
        color: #FFFFFF;

        span {
            margin-left: 5px;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;

        }
    }

    &:last-child {
        margin-right: 0;
    }
}

.content {
    width: var(--content-width);
    margin: 0 auto;
    height: 100%;
    margin-top: -58px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.myLoan,
.myBid {
    border-radius: 8px;
    background-color: #fff;
}

.myLoan,
.myBid {
    width: 100%;
    min-height: 332px;
}

.myBid {
    margin-top: 24px;
}

.right {
    margin-left: 24px;
    flex: 1 0 auto;
}

.emptyWrap {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
