.wrap {
    width: 688px;
    padding: 24px;
    margin-bottom: 24px;
    background: #30343E;
    border: 1px solid rgba(100, 113, 141, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 16px;

    :global {
        .ant-table-tbody>tr>td {
            border-bottom: none !important;
        }
    }
}


.depositModuleIcon {
    vertical-align: -2px;
    width: 20px;
    margin-right: 8px;
}

.table {
    :global(.ant-table) {
        background: transparent;
    }

    // :global(.ant-table-tbody > tr.ant-table-placeholder:hover > td) {
    //     background: red;
    // }

    :global(.ant-table-tbody>tr.ant-table-row:hover>td) {
        background: transparent;
    }

    :global(.ant-table-cell) {
        background: transparent;
        font-size: 16px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.8);
        border: none;
        padding: 0;
        padding-bottom: 16px;

        &::before {
            display: none;
        }
    }
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 20px;
        line-height: 24px;
        font-family: hasai-500;
        display: flex;
        align-items: center;

        svg {
            margin-right: 11px;
        }
    }
}

.list {
    margin-top: 24px;
}

.tabItemHead {
    display: flex;
    align-items: center;

    .nftInfo {
        font-size: 12px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);

        :last-child {
            font-size: 14px;
            line-height: 20px;
        }
    }

    img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        border-radius: 4px;
    }
}

.repayDetail {
    display: flex;
    align-items: center;

    p {
        margin-left: 6px;
        font-size: 16px;
    }
}
