.card {
    height: 100%;
    // padding: 8px;
    // padding-bottom: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // height: 196px;
    border-radius: 8px;

    &.active {
        background-clip: padding-box, border-box;
        background-image: linear-gradient(0deg, #20232C, #20232C), radial-gradient(circle at left bottom, #74F5DA, #CDFF8C);
        background-origin: border-box;
        border: 1px solid transparent;

        .info {
            border-color: transparent;
        }
    }
}

.poolName {
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.imgWarp {
    display: block;
    padding-top: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// .img {
//     width: calc(100% + 2px);
//     height: auto;
//     // min-height: 137px;
//     flex: 1 0 auto;
//     margin: -1px;
// }

.info {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: rgba(100, 113, 141, 0.5);
    border-radius: 0px 0px 8px 8px;
    padding: 8px 10px;
    background: #393D48;
}

.id {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;

    :last-child {
        font-size: 16px;
        line-height: 24px;
        font-family: hasai-500;

        img {
            width: 12px;
            margin-right: 4px;
            vertical-align: 0px;
        }
    }
}

.name {
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
}

// .activeIcon {
//     position: absolute;
//     bottom: 1px;
//     right: 5%;
//     border-radius: 0 0 6px 0;
// }
