.topWarp {
    width: 100%;
    margin-top: calc(0px - var(--header-height));
}

.wrap {
    width: 100%;
    min-height: 100%;
    color: #000;

}

.banner {
    position: relative;
    height: 400px;
    background-position: center center;
    background-size: contain;

    .mask {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(30, 33, 40, 0.8);
        backdrop-filter: blur(4px);
    }


    .seriesInfo {
        position: absolute;
        width: 1400px;
        transform: translateX(-50%);
        left: 50%;
        z-index: 3;
        top: 0;
        padding-top: calc(32px + var(--header-height));

        .avatars {
            width: 100px;
            height: 100px;
            background: #515151;
            border: 2px solid #FFFFFF;
            border-radius: 16px;
            padding: 8px;

            .middlePics {
                width: 24px;
                height: 24px;
                border-radius: 4px;
                margin-right: 4px;
                margin-bottom: 4px;

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }

        .avatar {
            width: 80px;
            height: 80px;
            border-radius: 16px;
            border: 1px solid #fff;
        }
    }
}

.tips {
    font-family: hasai-500;
    font-size: 12px;
    line-height: 18px;
    margin: 8px 0 16px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;

    span {
        color: rgba(255, 255, 255, 0.4);
        font-size: 14px;
        margin-right: 9px;
        margin-top: 3px;
    }
}


.left {
    margin-right: 32px;
    display: flex;
    align-items: center;

}

.name {
    font-family: hasai-700;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 46px;
    margin-left: 24px;


}

.backBtn {
    width: 72px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(100, 113, 141, 0.2);
    border: 1px solid rgba(100, 113, 141, 0.5);
    border-radius: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 24px;
    user-select: none;
    cursor: pointer;

    img {
        margin-right: 10px;

    }
}

.info {
    display: flex;
    margin-top: 32px;

    .infoIndex {
        display: flex;
        flex-direction: column;
        margin-right: 90px;

        p {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 8px;
        }

        p:last-child {
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            color: #FFFFFF;
            font-family: hasai-700;
            margin: 0;

            span {
                margin-left: 5px;
                font-size: 14px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }

}

.bottom {
    width: 100%;
    padding-bottom: 30px;
    transform: translateY(-30px);
    display: flex;
    align-items: flex-start;
    max-width: var(--content-width);
    margin: 0 auto;
}

.bottomLeft {
    width: 336px;
    padding: 24px;
    margin-right: 24px;
    border-radius: 8px;
    flex: 0 0 auto;
    background: #30343E;
    border: 1px solid rgba(100, 113, 141, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 16px;
    padding-top: 0;
}

.depositButton {
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    width: 110px;
    line-height: 34px;
    height: 34px;
    border-radius: 4px;
    text-align: center;

    img {
        vertical-align: text-bottom;
        width: 16px;
        margin-right: 4px;
    }
}

.bottomRight {
    padding: 24px;
    background: #30343E;
    width: 100%;
    border: 1px solid rgba(100, 113, 141, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 16px;
}

.depositHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.depositTitle {
    display: flex;
    align-items: center;

    p {

        line-height: 72px;
        font-size: 16px;
        font-family: hasai-500;
        margin-left: 8px;
        font-size: 16px;
        color: #000;
    }
}

.inputIcon {
    position: relative;

    :global(.ant-select-arrow) {
        display: none;
    }

    &::after {
        content: " ";
        position: absolute;
        width: 10px;
        height: 6px;
        display: block;
        right: 15px;
        top: 18px;
        background: url('../../asset/inputIcon.png');
    }
}

.input {
    margin-bottom: 16px !important;
}



.depositInfo {
    margin-top: 8px;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
    font-family: hasai-500;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    background: var(--main-bg);
    // box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.25);

    p {
        margin-top: 10px;
        display: flex;
        font-size: 12px;
        line-height: 20px;
        justify-content: space-between;
    }

    p:first-child {
        margin-top: 0;
    }
}

.btn {
    margin-top: 16px;
    font-size: 12px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--main-text-color);
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    border-radius: 4px;
    user-select: none;
    color: #000000;

    &.disabled {
        background: #898989;
        color: rgba(255, 255, 255, 0.6);
        cursor: not-allowed;
    }
}

.filter {
    display: flex;
    justify-content: space-between;
}

.filterOption {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;


}

.filterWarp {
    width: 240px;
    // line-height: 34px;
    // height: 34px;
    // background-clip: padding-box, border-box;
    // background-image: linear-gradient(0deg, #30343E, #30343E), radial-gradient(circle at left bottom, #74F5DA, #CDFF8C);
    // background-origin: border-box;
    display: flex;
    // align-items: center;
    // overflow: hidden;
    font-size: 0;

    .filterBtn {
        flex: 1;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        height: 34px;
        border: 1px solid #CDFF8C;

        &:first-child {
            border-radius: 4px 0 0 4px;
            border-right: none;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
            border-left: 0;
        }

        &.selected {
            background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
            color: var(--main-bg);
            -webkit-text-fill-color: initial;
        }
    }
}

// .filterInput {
//     width: 200px;
//     height: 32px;
//     line-height: 32px;
//     box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) inset;
// }

.list {
    margin-top: 16px;
}

.emptyWrap,
.loadingWrap {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingWrap {
    min-height: 30px;
}

.loadMore {
    width: 100%;
    background-color: #fff;
}

@media only screen and (max-width: 1400px) {
    .banner {

        .mask {}


        .seriesInfo {
            width: 95%;

            .avatars {
                .middlePics {

                    &:nth-child(3n) {}
                }
            }

            .avatar {}
        }
    }

    .bottom {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1100px) {
    .info {
        display: flex;
        justify-content: space-between;

        .infoIndex {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 900px) {
    .depositTitle p {
        line-height: 42px;
    }

    .bottomLeft {
        padding: 0 10px 10px 10px;
        width: 250px;
    }
}

@media only screen and (max-width: 700px) {
    .banner {
        height: 200px;
    }

    .filterWarp {
        .filterBtn {
            border: none;
            position: relative;
            flex: initial;
            margin-right: 32px;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
            }

            &.normal {
                background: initial;
                color: rgba(255, 255, 255, 1);
                border: none;
                font-size: 14px;
                -webkit-text-fill-color: initial;
            }

            &.selected {
                background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;

                &::before {
                    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);

                }

            }
        }
    }

    .mobileHide {
        display: none !important;
    }

    .filter {
        .filterRight {
            display: none;
        }

        // display: none;
    }

    .bottom {
        width: 100%;
    }

    .bottomLeft {
        display: none;
    }

    .info {
        margin-top: 24px;

        .infoIndex {
            p {
                font-size: 10px;
                line-height: 13px;
                margin-bottom: 5px;

                &:last-child {
                    font-size: 16px;
                    line-height: 21px;
                }
            }
        }
    }


    .banner {
        .seriesInfo {
            padding-top: calc(16px + var(--header-height));

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 4px;
            }

            .name {
                font-size: 22px;
                margin-left: 8px;
                line-height: 28px;
            }

            .backBtn {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .bottomRight {
        padding: 14px;
    }

    .bottomLeft {
        margin-right: 10px;
    }

    .borrowWarp {

        :global {
            .ant-modal-close-x {
                margin-top: 21px;
                margin-right: 21px;
            }
        }
    }

    .borrowItem {
        .depositHead {
            .depositTitle {
                p {
                    line-height: 64px;
                    font-size: 16px;
                }
            }
        }

        .input {
            margin-bottom: 20px !important
        }

        .depositInfo {
            margin-top: 20px;
        }

    }

    .btn {
        line-height: 42px;
    }
}
