.wrap {
    position: relative;
    width: 100%;
    height: var(--header-height);
    padding: 0 24px;
    display: flex;
    align-items: center;
    z-index: var(--header-index);
    justify-content: space-between;
    background-color: transparent;
    // border-bottom: 1px solid rgba(222, 224, 226, 1)
}

.headerClass {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    width: 117px;
}

.tabs {
    display: flex;
    align-items: center;
}


.marketPopover {
    transition-property: display;
    transition-duration: 10s;

    :global {
        .ant-popover-inner {
            box-shadow: initial;
        }

        .ant-popover-arrow {
            display: none;
        }
    }

}


.filterWarp {
    border: 1px solid #64708B;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    background: rgba(37, 41, 50, 0.75);
    width: 251px;
    border-radius: 16px;
    overflow: hidden;
    backdrop-filter: blur(12px);

    .filterItem {
        height: 56px;
        line-height: 56px;
        padding-left: 16px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            width: 16px;
            margin-right: 8px;
        }

        &.active,
        &:hover {
            color: #FFFFFF;
            background: #3A404F;
        }
    }
}

.hasAddress {
    background-clip: padding-box, border-box;
    background-image: linear-gradient(0deg, #1E2128, #1E2128), radial-gradient(circle at left bottom, #74F5DA, #CDFF8C);
    background-origin: border-box;
    border: 1px solid transparent;
    border-radius: 30px;
    width: 139px;
    line-height: 40px;
    height: 40px;
    text-align: center;

    .address {
        background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.noAddress {
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    border-radius: 61px;
    color: #252932;
    width: 124px;
    line-height: 52px;
    height: 52px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.tab {
    font-weight: 400;
    font-size: 20px;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }

    // &::after {
    //     height: 3px;
    //     width: 100%;
    //     content: '';
    //     display: block;
    //     bottom: 0;
    //     background-color: transparent;
    // }

    &.tabActive {
        color: #FFFFFF;
        position: relative;

        &::after {
            height: 3px;
            width: 100%;
            content: "";
            display: block;
            bottom: 0px;
            background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
            position: absolute;
        }
    }
}

.index {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.other {
    border-bottom: 1px solid #DEE0E2;
}
