.wrap {
    position: relative;
    width: 100%;
    height: var(--header-height);
    padding: 0 24px;
    display: flex;
    align-items: center;
    z-index: var(--header-index);
    justify-content: space-between;
    background-color: transparent;
    // border-bottom: 1px solid rgba(222, 224, 226, 1)
}

.headerClass {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tabs {
    display: flex;
    align-items: center;
}

.hasAddress {
    background-clip: padding-box, border-box;
    background-image: linear-gradient(0deg, #1E2128, #1E2128), radial-gradient(circle at left bottom, #74F5DA, #CDFF8C);
    background-origin: border-box;
    border: 1px solid transparent;
    border-radius: 30px;
    width: 139px;
    line-height: 40px;
    height: 40px;
    text-align: center;

    .address {
        background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.noAddress {
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    border-radius: 61px;
    color: #252932;
    width: 124px;
    line-height: 52px;
    height: 52px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.tab {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        color: #000;
        font-weight: 500;
    }
}

.index {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.other {
    border-bottom: 1px solid #DEE0E2;
}
