.wrap {
    position: relative;
    width: 100%;
    height: var(--header-height);
    padding-left: 16px;
    display: flex;
    align-items: center;
    z-index: var(--header-index);
    justify-content: space-between;
    background-color: transparent;
    z-index: 4;
    padding-right: 24px;
}

// .headerClass {
//     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
// }
.borrowIcon {}

.addPoolTitle {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: calc(100vw - 48px);
    position: relative;

    .leftBtn {
        position: absolute;
        left: -7px;
        top: 0;
        width: 24px;
        height: 24px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        background-image: url('../../asset/header/addPoolLeftBtn.png');
        background-repeat: no-repeat;
        background-size: 7px;
        background-position: center center;
    }

    :global {
        .gradualText {
            font-family: hasai-700 !important;
        }
    }
}

.headerTitle {

    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    font-family: hasai-700;
}

.logo {
    width: 117px;
}

.tabs {
    display: flex;
    align-items: center;
}


.marketPopover {
    transition-property: display;
    transition-duration: 10s;

    :global {
        .ant-popover-inner {
            box-shadow: initial;
        }

        .ant-popover-arrow {
            display: none;
        }
    }

}


.filterWarp {
    border: 1px solid #64708B;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    background: rgba(37, 41, 50, 0.75);
    width: 251px;
    border-radius: 16px;
    overflow: hidden;
    backdrop-filter: blur(12px);

    .filterItem {
        height: 56px;
        line-height: 56px;
        padding-left: 16px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            width: 16px;
            margin-right: 8px;
        }

        &.active,
        &:hover {
            color: #FFFFFF;
            background: #3A404F;
        }
    }
}

.hasAddress {
    background-clip: padding-box, border-box;
    background-image: linear-gradient(0deg, #1E2128, #1E2128), radial-gradient(circle at left bottom, #74F5DA, #CDFF8C);
    background-origin: border-box;
    border: 1px solid transparent;
    border-radius: 30px;
    width: 139px;
    line-height: 40px;
    height: 40px;
    text-align: center;

    .address {
        background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.noAddress {
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    border-radius: 61px;
    color: var(--main-bg);
    width: 124px;
    line-height: 52px;
    height: 52px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.tab {
    font-weight: 400;
    font-size: 20px;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }

    // &::after {
    //     height: 3px;
    //     width: 100%;
    //     content: '';
    //     display: block;
    //     bottom: 0;
    //     background-color: transparent;
    // }

    &.tabActive {
        color: #FFFFFF;
        position: relative;

        &::after {
            height: 3px;
            width: 100%;
            content: "";
            display: block;
            bottom: 0px;
            background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
            position: absolute;
        }
    }
}

.index {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.other {
    border-bottom: 1px solid #DEE0E2;
}

.closeBtn {
    width: 21px;
    position: absolute;
    right: 21px;
    top: 21px;
    cursor: pointer;
}

.mobileWarp {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2.5px);
    z-index: 6;


    .mobileInner {
        background: #20232C;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        width: 354px;

        .itemTitle {
            font-size: 12px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 15px;
        }

        .menuItem {
            font-family: hasai-700;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin-bottom: 25px;

            margin-bottom: 25px;
            display: flex;
            align-items: center;

            .img {
                width: 17.5px;
                height: 17.5px;
                margin-right: 16px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }

    .accountWarp {
        padding: 20px;

        .menuItem {
            &:last-child {}
        }

        .disconnect {
            width: 100%;
            height: 40px;
            line-height: 40px;
            background: rgba(100, 113, 141, 0.5);
            text-align: center;
            border-radius: 4px;
        }
    }

}

.line {
    height: 1px;
    background: rgba(100, 113, 141, 0.5);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.backBtn {
    background: url('../../asset/header/backBtn.png');
    width: 44px;
    height: 44px;
    background-size: 8px;
    background-position: left center;
    background-repeat: no-repeat
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;

    .mobileNav,
    .depositIcon,
    .borrowIcon {
        width: 44px;
        height: 44px;
        background: url('../../asset/header/bulletpoint.png');
        margin-left: 5px;
        display: none;
        background-size: 100%;

    }

    .depositIcon {
        background-image: url('../../asset/header/depositIcon.png');
    }

    .borrowIcon {
        background-image: url('../../asset/header/borrowIcon.png');

    }
}

// tabs
@media only screen and (max-width: 700px) {
    .wrap {
        padding-right: 0;
    }

    .tabs {
        display: none;
    }

    .hasAddress,
    .noAddress {
        width: 90px;
        height: 30px;
        line-height: 30px;

        font-size: 10px;
    }

    .right {
        .mobileNav {
            display: block;
        }
    }

}
