.wrap {
    width: 688px;
    padding: 24px;
    margin-bottom: 24px;
    background: #30343E;
    border: 1px solid rgba(100, 113, 141, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 16px;
}

.middleAvator {
    margin-right: 8px;
}

.depositTop {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: inline-block;
    font-size: 16px;
}

.avator {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 4px;
}

.cellWidth {
    width: 200px;
}

.table {
    :global(.ant-table) {
        background: transparent;
    }

    // :global(.ant-table-tbody > tr.ant-table-placeholder:hover > td) {
    //     background: red;
    // }
    :global(.ant-table-thead) {
        tr th {
            font-size: 16px;

        }
    }

    :global(.ant-table-tbody>tr.ant-table-row:hover>td) {
        background: transparent;
    }

    :global(.ant-table-cell) {
        background: transparent;
        // font-size: 16px;
        font-size: 0;
        // line-height: 40px;
        color: rgba(255, 255, 255, 0.8);
        border: none;
        padding: 0;
        padding-bottom: 16px;

        span {
            font-size: 16px;
        }

        &::before {
            display: none;
        }
    }
}

.acountWarp {
    img {
        width: 16px;
        margin-right: 6px;
        vertical-align: middle;
    }
}

.withdraw {
    width: 83px;
    line-height: 30px;
    height: 32px;
    border: 1px solid #088F57;
    border-radius: 4px;
    color: #fff;
    color: #088F57;
    display: block;
    text-align: center;
    cursor: pointer;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 20px;
        line-height: 24px;
        font-family: hasai-500;
        color: #000;
        display: flex;
        align-items: center;
    }
}


.depositModuleIcon {
    vertical-align: -2px;
    width: 20px;
    margin-right: 8px;
}

.btn {
    width: 107px;
    height: 32px;
    background: var(--main-text-color);
    box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    cursor: pointer;

    svg {
        margin-right: 9px;

        path {
            fill: #fff;
        }
    }

    &.disable {
        background: #eee;
        cursor: not-allowed;
        color: rgba(0, 0, 0, .4);

        svg path {
            fill: rgba(0, 0, 0, .4);
        }
    }
}

.list {
    margin-top: 16px;
}

.loadingWrap {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
