.modal {
    :global {

        // .ant-modal-close-x {
        //     display: none;
        // }
        .ant-modal-close-x {
            width: auto;
            height: auto;
            line-height: initial;
            margin-right: 28px;
            margin-top: 28px;
            font-size: 0;
        }

        .ant-modal-content {
            background-color: #30343E;
            border: 1px solid rgba(100, 113, 141, 0.5);
            border-radius: 16px;
        }

        .ant-modal-header {
            background: transparent;
            border: none;
            line-height: 24px;
            padding: 24px;
        }

        .ant-modal-body {
            padding-top: 0 !important;
            padding: 16px;
        }
    }
}

.inputWarp {}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.des {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    padding-left: 25px;
}

.title {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

    span {
        font-family: hasai-500;
        font-size: 16px;
        line-height: 24px;
    }

    img {
        vertical-align: middle;
        margin-right: 8px;
        width: 16px;
    }
}

.balance {
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;

    .value {
        color: #fff;
        margin-left: 3px;
    }

    .maxBtn {
        color: #1A68FF;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        cursor: pointer;
        user-select: none;
    }
}

.inputWarp {
    width: 100%;

    :global(.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector),
    :global(.ant-select:not(.ant-select-disabled):hover .ant-select-selector),
    :global(.ant-input-affix-wrapper-focused) {
        box-shadow: none;
    }

    .depositInput {
        height: 36px;

        &:focus {
            box-shadow: none;
        }

        :global(.ant-input-suffix) {
            color: rgba(0, 0, 0, 0.4);
        }
    }
}


.btn {
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    cursor: pointer;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #252932;
    width: 288px;
    height: 40px;
    margin-top: 16px;
    border-radius: 4px;

    &.disabled {
        background: #898989;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
    }
}
