.modal {
    :global {

        .ant-modal-body {
            padding: 16px;
        }


    }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

    img {
        margin-right: 8px;
        width: 16px;
    }
}

.otherInfos {
    width: 100%;
    background: #252932;
    border-radius: 4px;
    padding: 16px 10px;
    margin-top: 16px;

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);

        .value {
            color: #FFFFFF;
        }
    }
}

.balance {
    font-size: 12px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    height: 28px;
    background: rgba(100, 113, 141, 0.5);
    border-radius: 0px 0px 4px 4px;
    padding: 0 8px;
    border: 1px solid #64718D;
    border-top: none;

    .value {
        color: #fff;
        margin-left: 5px;
    }

    .maxBtn {
        color: #1A68FF;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        cursor: pointer;
        user-select: none;
    }
}

.inputWarp {
    width: 100%;

    :global(.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector),
    :global(.ant-select:not(.ant-select-disabled):hover .ant-select-selector),
    :global(.ant-input-affix-wrapper-focused) {
        border-color: #dce2df !important;
        box-shadow: none;
    }

    .depositInput {
        height: 36px;
        border-bottom: none;
        border-radius: 4px 4px 0 0;

        &:focus,
        &:hover {
            border-color: #dce2df;
        }

        &:focus {
            box-shadow: none;
        }

        :global(.ant-input-suffix) {
            color: rgba(0, 0, 0, 0.4);
        }

        :global(.ant-input-affix-wrapper) {
            border-bottom: transparent;
        }
    }
}

.btn {
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    cursor: pointer;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #252932;
    width: 288px;
    height: 40px;
    margin-top: 16px;
    border-radius: 4px;

    &.disabled {
        background: #898989;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
    }
}
