.warp {
    width: 100%;
    border-top: 1px solid #64708B;

    .footerInner {
        width: var(--content-width);
        margin: 0 auto;

        .footerTop {
            display: flex;
            justify-content: space-between;
            height: 156px;
            align-items: center;
            border-bottom: 1px solid rgba(100, 113, 141, 0.5);

            img {
                width: 182px;
            }

            .btns {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;

                a {
                    line-height: 31px;
                    color: #FFFFFF !important;
                    margin-right: 56px;
                }
            }
        }

        .footerBottom {
            padding: 56px 0 100px;
            display: flex;
            justify-content: space-between;

            .left {
                display: flex;

                .links {
                    display: flex;
                    flex-direction: column;

                    a {
                        margin-right: 82px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 21px;
                        color: rgba(255, 255, 255, 0.8);
                        margin-bottom: 30px;
                    }
                }
            }

            .right {
                a {
                    font-size: 36px;
                    margin-left: 40px;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
}
