.title {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: hasai-500;

    span {
        font-size: 12px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);
        margin-left: 8px;
    }
}

.ModalTitle {
    justify-content: space-between;
}

.borrowWarp {
    :global {
        .ant-modal-header {
            padding: 20px 15px;
            line-height: 32px;
        }
    }
}

.btn {
    width: 76px;
    line-height: 32px;
    height: 32px;
    background: linear-gradient(90deg, #74F5DA 5.42%, #CDFF8C 100%);
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    text-align: center;
    color: #252932;
    cursor: pointer;

    &.disable {
        cursor: not-allowed;
        background: #898989;
        color: rgba(255, 255, 255, 0.6);
    }
}

:global(.ant-drawer-mask) {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}

:global(.drawWarp) {
    :global(.ant-drawer-content) {
        background-color: #30343E;
        border-radius: 16px 0px 0px 16px;
    }

    :global(.ant-drawer-header) {
        background-color: transparent;
        border: none !important;
        padding: 0 24px;
        line-height: 80px;
    }

    :global(.ant-drawer-body) {
        padding-top: 0;
    }
}
