.wrap {
    padding: 40px 0;
    background: url('../../../asset/middleBg.png');
    margin: 0 -30%;

    background-repeat: no-repeat;
    background-size: cover;

    .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 24px;
    }
}

.inner {
    max-width: var(--content-width);
    margin: 0 auto;
}

.middle {
    display: flex;
    align-items: center;

    .collections {
        flex: 488px 0 0;
        font-size: 0;

        .collection {
            padding: 7px;
            background: #FFFFFF;
            border-radius: 8px;
            font-size: 14px;
            display: inline-block;
            margin-right: 16px;
            margin-bottom: 16px;

            img {
                width: 34px;
                height: 34px;
                border-radius: 4px;
                margin-right: 8px;
            }
        }
    }

    .info {
        height: 220px;
        flex: 1;
        margin-left: 53px;
        background: #FFFFFF;
        box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 32px;

        .poolInfo {
            display: inline-block;
            width: 160px;
            margin-bottom: 24px;

            .poolInfoTitle {
                margin-bottom: 6px;
            }

            .poolInfoTitle,
            sub {

                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.4);
            }

            sub {
                vertical-align: 5px;
                margin-left: 5px;
            }
        }

        .value {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: rgba(0, 0, 0, 0.8);
        }
    }

    .buttonWarp {
        height: auto;
        border-radius: initial;
        box-shadow: initial;
        background: initial;
        padding: 0;
    }
}

.viewButton {
    width: 95px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #088F57;
    border-radius: 4px;
    text-align: center;
    color: #088F57;
    margin-top: 32px;
    cursor: pointer;

    img {
        vertical-align: 3px;
        width: 13px;
    }
}
