html,
body {
    background-color: var(--main-bg);
}

.App {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #f3f3f3;
}

.main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.content {
    max-width: var(--content-width);
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    margin: 0 auto;
}
